body {
  background: linear-gradient(100deg, #91baeb 10%, #ce9ef0 100%);
  font-family: Arial, sans-serif;
}

.grid-container .grid-item {
  background-color: #FF7043; /* 替换为柔和的颜色 */
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加轻微的阴影 */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;  /* 增加内边距 */
}

.grid-container .grid-item:hover {
  transform: scale(1.05); /* 鼠标悬停时放大一点 */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.grid-container .grid-item h3 {
  font-size: 24px;  /* 增加字体大小 */
  font-weight: bold; /* 加粗字体 */
  color: #333;  /* 设置字体颜色 */
  margin-top: 10px;  /* 增加顶部边距 */
}

.grid-container .grid-item img {
  width: 40px;  /* 调整图标的宽度 */
  height: 40px;  /* 调整图标的高度 */
  margin-bottom: 10px; /* 图标与文字的间距 */
}

